.button {
  background: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  padding: $input-spacing;
  text-transform: uppercase;
  font-size: $base-font-size;
  margin-bottom: $space;
  line-height: 1.2;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  padding: .3rem .8rem;
  margin: 0 ($space / 2) 0 0;
}

.button--secondary {
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
}

.button--link-text {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-transform: none;
  font-family: Lato, Helvetica, Arial, sans-serif;;
}