.header {
  background: $header-bg;
  color: $header-color;
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: $size-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  margin: 0;
}